{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <link href="{% static './css/bootstrap.css' %}" rel="stylesheet">
</head>

<body>
    <h1>Welcome to Blog Home Page</h1>
    {% load static %}
    <a href="{% static 'blog/blog-static.txt'  %}">Click to Static File</a>

    <div class="text-center">
        <img src="{% static 'blog/blog-img.jpg' %}" class="rounded" alt="Blog Image">
    </div>







    <script src="{% static './js/bootrap.bundle.js' %}"></script>
</body>

</html>