{% extends 'shop/basic.html' %}

{% block title %}Shop - Home {%endblock%}

{% block body %}
<div class="container">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-slide-to='0'>
                <div class="row justify-content-center">
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://source.unsplash.com/250x200/?product,laptop" class="card-img-top"
                                alt="product image">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk
                                    of the card's content.</p>
                                <a href="" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://source.unsplash.com/250x200/?product,phone" class="card-img-top"
                                alt="product image">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk
                                    of the card's content.</p>
                                <a href="" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://source.unsplash.com/250x200/?product,camera" class="card-img-top"
                                alt="product image">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk
                                    of the card's content.</p>
                                <a href="" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://source.unsplash.com/250x200/?product,headphones" class="card-img-top"
                                alt="product image">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk
                                    of the card's content.</p>
                                <a href="" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% for i in range %}
            <div class="carousel-item" data-slide-to='{{i}}'>
                <div class="row justify-content-center">
                    <!-- {% for i in product|slice:"1:" %} -->
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://source.unsplash.com/250x200/?product,shirt" class="card-img-top"
                                alt="product image">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk
                                    of the card's content.</p>
                                <a href="" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    <!-- {% endfor %} -->
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://source.unsplash.com/250x200/?product,cap" class="card-img-top"
                                alt="product image">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk
                                    of the card's content.</p>
                                <a href="" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://source.unsplash.com/250x200/?product,trouser" class="card-img-top"
                                alt="product image">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk
                                    of the card's content.</p>
                                <a href="" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://source.unsplash.com/250x200/?product,watch" class="card-img-top"
                                alt="product image">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk
                                    of the card's content.</p>
                                <a href="" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- 
            <div class="carousel-item" data-slide-to='{{i}}'>
                <div class="row justify-content-center">
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://source.unsplash.com/250x200/?product,jacket" class="card-img-top"
                                alt="product image">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk
                                    of the card's content.</p>
                                <a href="" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://source.unsplash.com/250x200/?product,glasses" class="card-img-top"
                                alt="product image">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk
                                    of the card's content.</p>
                                <a href="" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://source.unsplash.com/250x200/?product,chair" class="card-img-top"
                                alt="product image">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                                <a href="" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://source.unsplash.com/250x200/?product,shoe" class="card-img-top"
                                alt="product image">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                                <a href="" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

{%endblock%}